<google-map 
    height="400px"
    width="100%"
    [center]="center_Init"
    [zoom]="4">
    <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        (mapClick)="openInfoWindow(marker, markerRef)"
        #markerRef="mapMarker">
    </map-marker>
    <map-info-window>
      <div>{{ selectedMarkerName }}</div>
        <b>Description:</b>
        <hr>
        <div>{{ selectedMarkerInfo }}</div>
    </map-info-window>
</google-map>
