<button type="button" class="btn btn-primary" (click)='showModal(node)'>
    <span nz-icon nzType="eye" nzTheme="outline"></span> 
</button>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Node" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    
    <ng-container *nzModalContent>
        <div class="node-info">
            <h5 class="mb-3">Information about the Node</h5>
            <div class="row">
                <div class="col-md-6">
                    <p><b>Id node:</b> {{node.id}}</p>
                    <p><b>Name:</b> {{node.name}}</p>
                    <p><b>Description:</b> {{node.description}}</p>
                </div>
                <div class="col-md-6">
                    <p><b>Id coordinate:</b> {{node.coordinate.id}}</p>
                    <p><b>Value X:</b> {{node.coordinate.valueX}}</p>
                    <p><b>Value Y:</b> {{node.coordinate.valueY}}</p>
                </div>
            </div>
        </div>
    </ng-container>
</nz-modal>