<div *ngIf="nodes?.length==0" class="alert alert-info">
  There are no nodes in database...
</div>

<table class="table table-light table-hover" *ngIf="nodes.length>0">
    <thead>
        <tr>
          <th class="head-table" scope="col">Name</th>
          <th class="head-table" scope="col">Coordinates</th>
          <th class="head-table" scope="col">View</th>
          <th class="head-table" scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let node of currentNodes">
          <td> {{node.name}} </td>
          <td> {{'X= ' + node.coordinate.valueX + ', Y= ' + node.coordinate.valueY}} </td>
          <td> 
            <app-modal-view [node] = "node"></app-modal-view>
          </td>
          <td>
            <button type="button" class="btn btn-warning">
              <span nz-icon nzType="edit" nzTheme="outline"></span> 
            </button>
            <button type="button" class="btn btn-danger">
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
            
          </td>
        </tr>
      </tbody>
</table>

<nz-pagination
  [nzPageIndex]="currentPage"
  [nzTotal]="totalItems"
  [nzPageSize]="pageSize"
  nzShowQuickJumper
  (nzPageIndexChange)="onPageChange($event)"
*ngIf="nodes.length>0" ></nz-pagination>