footer {
    background-color: #1b263b;
    text-align: center;
    color: #dcdcdd;
    padding: 20px 0;
    width: 100%;
  }

p{
    color: #dcdcdd;
}

.title{
    color: #dcdcdd;
}

.copyRight {
    color: #dcdcdd;
}